
.gradle
**/build/**
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Vue / webpack ###
node_modules/
bin/

### logs ###
logs/

## package-lock ##
package-lock.json

**/upload/**
/front-side/public/reports/
/report/WEB-INF/clipreport5/temp/
